@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
  background-color: #292929;
  font-family: 'Tilt Neon', cursive;
}
a{
  text-decoration: none;
}
.ViewBtn{
  width: 600px;
}
.paragrafo{
  width: 600px;
}
@media screen and (max-width : 640px) {
  .video-display{
    width: 350px;
  }
  .ViewBtn{
    width: 350px;
  }
  .paragrafo{
    width: 350px;
  }
  .img{
    width: 350px;
  }
}